body{
  margin-bottom: 460px;
}

p {
  margin: 0px;
}

.principal {
  position: relative;
  width: 100%;
  height: 100vh;

  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.principal::before {
  content: "";
  position: absolute;           
  inset: 0;
  background-image: url("../../pictures/Festival-2025-FULL-HD-V2.png");
  background-size: cover;
  background-position: center -300px;
  background-repeat: no-repeat;
  mask-image: linear-gradient(to bottom,rgba(0,0,0,0.20) 0%,rgba(0,0,0,0.60) 75%,rgba(0,0,0,0.00) 100%  );
  z-index: -1;
}


.titulos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: -50px;
  color: white;
  user-select: none;
  max-width: clamp(300px, 45vw, 780px)
}

.title {
  font-family: D-DIN Exp;
  font-weight: bold;
  font-size: clamp(70px, 12vw, 200px);
  text-align: center;

  opacity: 0;
  animation: fadeUp 0.9s ease-out forwards;
  animation-delay: 0.2s;
}

.paragraph {
  font-size: clamp(16px, 1.4vw, 26px);
  margin-top: clamp(0px, -3vw, -30px);
  text-align: center;
  letter-spacing: 3px;

  opacity: 0; 
  animation: fadeUp 0.9s ease-out forwards;
  animation-delay: 0.6s; 
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 450px) {

  .principal::before {
    background-position: center;
    mask-image: linear-gradient(
      to bottom,
      rgba(0,0,0,0.7) 0%,  /* medio visible */
      rgba(0,0,0,0.3) 50%,  /* empieza a desaparecer */
      rgba(0,0,0,0) 80%   /* invisible */
    );
  }

}