/* ===============================
   ACADEMIC HEADER
================================ */

.academic-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 55px;
  gap: 17px;
  margin-bottom: 26px;
}

.academic-titles {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

/* CALIFICACIONES */
.academic-titles .title {
  font-family: "Nexa Heavy";
  font-size: 27pt;
  color: white;
  letter-spacing: 1px;
}

/* 79,9% de precisión */
.academic-titles .precision {
  font-family: "D-DIN Exp";
  margin-top: -8px;
  font-size: 12pt;
  color: rgba(255,255,255,.75);
  font-style: italic;
}

/* PERIODO */
.academic-period {
  font-family: "D-DIN Exp";
  font-size: 13pt;
  color: rgba(255,255,255,.6);
  letter-spacing: .6px;
}



/* ===============================
   COURSES WRAPPER
================================ */

.academic-courses {
  display: flex;
  flex-direction: column;
  gap: 18px;

  max-height: 100%;
  overflow-y: auto;
}


/* ===============================
   COURSE CARD
================================ */

/* =========================
   COURSE CARD BASE
========================= */
.course-card {
  max-width: 360px;
  width: 100%;
  background: rgba(0, 0, 0, 0.69);
  border-radius: 13px;
  overflow: hidden;
  font-family: "D-DIN Exp";
  color: white;
}

/* =========================
   HEADER
========================= */
.course-header {
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 13px;
}

/* TÍTULO DEL CURSO */
.course-title {
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1.3px;
  text-transform: uppercase;
}

/* =========================
   BODY
========================= */
.course-body {
  padding: 4px 16px ;
  display: flex;
  flex-direction: column;
}

/* =========================
   ROW (COMPETENCIA)
========================= */
.course-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.3;

  padding: 10px 0;
}

/* LÍNEA DIVISORIA */
.course-row:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

/* TEXTO IZQUIERDA */
.competence {
  max-width: 75%;
  opacity: 0.95;
}

/* NOTA DERECHA */
.gradeA {
  min-width: 32px;
  text-align: right;
  font-weight: 700;
}