@font-face {
  font-family: 'D-DIN';
  src: url('../fonts/D-DIN/D-DIN.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'D-DIN';
  src: url('../fonts/D-DIN/D-DIN-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: 'D-DIN';
  src: url('../fonts/D-DIN/D-DIN-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}



@font-face {
  font-family: 'D-DIN Exp';
  src: url('../fonts/D-DIN/Exp/D-DINExp.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'D-DIN Exp';
  src: url('../fonts/D-DIN/Exp/D-DINExp-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: 'D-DIN Exp';
  src: url('../fonts/D-DIN/Exp/D-DINExp-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}



@font-face {
  font-family: 'Posterama';
  src: url('../fonts/Posterama/Posterama\ 2001\ W04\ Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Posterama';
  src: url('../fonts/Posterama/Posterama\ 2001\ W04\ SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Posterama';
  src: url('../fonts/Posterama/Posterama\ 2001\ W04\ Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: bold;
}



@font-face {
  font-family: 'Nexa Heavy';
  src: url('/fonts/Nexa-Heavy.ttf')  ;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Publica Play';
  src: url('../fonts/Publica-Play.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Room Black';
  src: url(../fonts/Room-Black/room-black.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}