.promo-main {
  position: relative;
  width: 100%;
  height: 100vh;

  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  user-select: none;
}

.promo-main::before {
  content: "";
  position: absolute;           
  inset: 0;
  background-image: url("../pictures/Main.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  mask-image: linear-gradient(to bottom, black 80%,transparent 100%);
  opacity: 0.8;
  z-index: -1;
}

.titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin-left: 6.3%;
}

.title {
  font-family: Posterama;
  font-weight: 600;
  color: white;
  font-size: 135px;
  
}

.blessed-es {
  font-family: D-DIN Exp;
  font-style: italic;
  font-size: 50px;
  color: white;

  margin-top: -20px;
}

.title, .blessed-es {
  text-shadow: 3px 3px 10px rgba(0,0,0,0.8);
}

@media (max-width: 1660px) {
    .title {
      line-height: 120px;
    }

    .blessed-es {
      margin-top: 20px;
    }

}

@media (max-width: 915px) {

  .promo-main {
    height: 100vh;
    gap: 300px;
    padding-top: 400px;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 120px;
  }

  .title {
    font-size: 450%;
    line-height: 65px;
  }

  .blessed-es {
    font-size: 200%;
    margin-top: 20px;
  }
}