.students-grid {
  display: grid;
  grid-template-columns: repeat(3, 378px);
  margin-top: 60px;
  gap: clamp(13px, 2.5vw, 32px);
  justify-content: center;
}

/* ↓ 2 columnas */
@media (max-width: 1180px) {
  .students-grid {
    grid-template-columns: repeat(2, 378px);
  }
}

/* ↓ 1 columna */
@media (max-width: 780px) {
  .students-grid {
    grid-template-columns: 378px;
    gap: 15px;
  }
}
