.student-card {
  width: 378px;
  height: 170px;
  border-radius: 25px;
  display: flex;
  overflow: hidden;
  cursor: pointer;
  position: relative;

  box-shadow:
    0 10px 26px rgba(0, 0, 0, 0.28),
    inset 0 0 0 1px rgba(255, 255, 255, 0.06);

  transition:
    transform 0.35s ease,
    box-shadow 0.35s ease,
    filter 0.35s ease;
}

.student-card:hover {
  transform: translateY(-6px) scale(1.015);

  box-shadow:
    0 18px 40px rgba(0, 0, 0, 0.45),
    inset 0 0 0 1px rgba(255, 255, 255, 0.12);
}


/* ---------------- INFO ---------------- */
.card-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  padding-left: 25px;
  font-family: "Room Black";
  text-transform: uppercase;
  opacity: 40%;
  color: white;
}

.card-info p {
  margin: 0px;
}

.student-name {
  font-size: 30pt;
  line-height: 35px;
}

.student-meta {
  display: flex;
  flex-direction: column;
  font-size: 11pt;
  margin-right: 6px;
}

/* ---------------- FOTO ---------------- */
.card-photo {
  width: 40%;
  position: relative;
  z-index: 3;
}

.card-photo img {
  position: absolute;
  bottom: 0;
  right: -9px; /* DESPLAZAMIENTO */
  height: 160px;
  width: auto;
  object-fit: cover;
}

.card-photo img.unknown-photo {
  opacity: 40%;
}