<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title><%= title %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <style>

        li {
            font-weight: 300;
            list-style: none;
        }

        .navbar {
            width: 100%;
            height: 60px;
            margin: 0 auto;
            display: flex;
            text-align: center;
            padding: 40px 50px;
            align-items: center;
            justify-content: space-between;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 1000; /* Se asegura de que el navbar esté por encima de otros elementos */
            background: transparent;
            backdrop-filter: blur(20px); /* Solo aplica el desenfoque sin fondo */
            transition: background 0.3s, color 0.3s; /* Transiciones suaves para cambios de color y fondo */
        }

        .navbar a {
            color: white; /* Color blanco por defecto */
            transition: color 0.3s;
        }

        .navbar.scrolled a {
            color: #4eb8bc; /* Cambia a rosadito cuando haces scroll */
        }

        .navbar.scrolled .action-btn {
            color: white; /* Mantiene el color blanco para el botón al hacer scroll */
        }

        .navbar .logo a{
            font-size: 20px;
        }

        .navbar .toggle_btn {
            color: white;
            font-size: 1.5em;
            display: none;
            cursor: pointer;
        }

        .navbar .links {
            display: flex;
            gap: 2em;   
        }

        .action-btn {
            background-color: #399ab8;
            color: #fff;
            padding: 8px 16px;
            border: none;
            overflow: none;
            border-radius: 30px;
            font-size: 18px;
            font-weight: bold;
            cursor: pointer;
            transition: 0.5s;
        }

        .action-btn:hover{
            scale: 1.05;
            color: #fff;
        }

        .action-btn:active {
            scale: 0.95;
        }

        a {
            color: white;
            font-weight: 300;
            text-decoration: none;
        }

        a:hover{
            color: #207679;
        }

        header .textos-header{
            display: flex;
            height: 430px;
            width: 100%;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
        }

        .navbar .toggle_btn i {
            color: white; /* Color blanco por defecto */
            transition: color 0.3s; /* Transición suave */
        }

        .navbar.scrolled .toggle_btn i {
            color: #4eb8bc; /* Cambia a rosado cuando haces scroll */
        }
          
        .icon {
            width: 55px;
            height: 55px;
            border-radius: 50%;
            background-color: #f7f3f5;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        /*DROPDOWN MENU*/
        .dropdown_menu {
            display: none;
            position: absolute;
            right: 2rem;
            top:90px;
            height: 0;
            width: 300px;
            background: #ffffff49;
            backdrop-filter: blur(15px);
            border-radius: 26px;
            overflow: hidden;
            transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }

        .dropdown_menu li {
            padding: 0.7rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .dropdown_menu .action-btn {
            width: 100%;
            display: flex;
            justify-content: center;
        }

        .dropdown_menu.open {
            height: 254px;
        }

        .dropdown_menu.scrolled a {
            color: #4eb8bc; /* Cambia a rosado cuando haces scroll */
        }

        .dropdown_menu.scrolled .action-btn {
            color: white; /* El botón de acción mantiene su color */
        }

        /* Modo Celular */
        @media(max-width: 990px) {
            .navbar .links,
            .navbar .action-btn{
                display: none;
            }
            
            .navbar .toggle_btn {
                display: block;
            }

            .dropdown_menu {
                display: block;
            }
        }

        @media(max-width: 990px) {
            .dropdown_menu {
                left: 2rem;
                width: unset;
            }
        }

        @media (max-width: 768px) {
              .icon {
                margin-bottom: 20px;
              }
            }

        .textos-header h1 {
            font-size: 60px;
            color: white;
            line-height: 60px;
        }

        .textos-header h2{
            font-size: 30px;
            color: white;
            font-weight: 300;
        }

        .wave {
            position: absolute;
            bottom: -0.01;
            width: 100%;
        }
    </style>
</head>
<body>
    <header>
        <div class="navbar">
            <div class="logo"><a href="#">PROMO 2026</a></div>
            <ul class="links">
                <li><a href="">Home</a></li>
                <li><a href="calendario">Calendario</a></li>
                <li><a href="sobre-mi">Sobre Mi</a></li>
                <li><a href="anuncios">Anuncios</a></li>
            </ul>
            <a href="#" class="action-btn">Iniciar Sesión</a>
            <div class="toggle_btn">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
        <div class="dropdown_menu">
            <li><a href="">Home</a></li>
            <li><a href="calendario">Calendario</a></li>
            <li><a href="sobre-mi">Sobre-Mi</a></li>
            <li><a href="anuncios">Anuncios</a></li>
            <li><a href="#" class="action-btn">Iniciar Sesión</a></li>
        </div>
        </header>
    <main>
        <%- body %>
    </main>

</body>
</html>
